@model halloDocEntities.ViewDataModels.ADashTable;
@{
    ViewData["Title"] = "Dmain";
    Layout = "~/Views/Shared/_ADashboard.cshtml";
}
<div class="anav mt-2">
    <a asp-area="" asp-controller="ADashboard" asp-action="Dmain" class="anavchild cp tdn ncactive">Dashboard</a>
    <a class="anavchild cp tdn">Provider Location</a>
    <a asp-area="" asp-controller="ADashboard" asp-action="MyProfile" class="anavchild cp tdn">My Profile</a>
    <div class="dropdown ">
        <a class="nav-link dropdown-toggle anavchild cp tdn " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Provider
        </a>
        <div class="dropdown-menu" style="background-color:white;" aria-labelledby="navbarDropdownMenuLink">
            <a asp-area="" asp-controller="AdminProvider" asp-action="Provider" class="dropdown-item">Provider</a>
            <a class="dropdown-item">Scheduling</a>
            <a class="dropdown-item">Invoicing</a>
        </div>
    </div>
    <a class="anavchild cp tdn">Partners</a>
    <a class="anavchild cp tdn">Access</a>
    <a class="anavchild cp tdn">Records</a>
</div>
<div class="dashsidebar hideside" id="dashsidebar">
    <div class="w-100 mt-2 pe-2 d-flex justify-content-end"><h2><i onclick="hambtn()" class="bi bi-x-square text-info"></i></h2></div>
    <a asp-area="" asp-controller="ADashboard" asp-action="Dmain" class="dschild cp tdn dschildactive"><i class="bi bi-caret-right me-1"></i>Dashboard</a>
    <a class="dschild cp tdn"><i class="bi bi-caret-right me-1"></i>Provider Location</a>
    <a asp-area="" asp-controller="ADashboard" asp-action="MyProfile" class="dschild cp tdn"><i class="bi bi-caret-right me-1"></i>My Profile</a>
    <a class="dropdown-toggle dschild" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-caret-right me-1"></i>Provider
    </a>
    <div class="dropdown-menu" style="background-color:white; min-width: 9rem;" aria-labelledby="navbarDropdownMenuLink">
        <a asp-area="" asp-controller="AdminProvider" asp-action="Provider" class="dropdown-item">Provider</a>
        <a class="dropdown-item">Scheduling</a>
        <a class="dropdown-item">Invoicing</a>
    </div>
    <a class="dschild cp tdn"><i class="bi bi-caret-right me-1"></i>Partners</a>
    <a class="dschild cp tdn"><i class="bi bi-caret-right me-1"></i>Access</a>
    <a class="dschild cp tdn"><i class="bi bi-caret-right me-1"></i>Records</a>
</div>
<div class="admain">

    <section class="container1 mt-2">

        <a id="c1" asp-area="" asp-controller="ADashboard" asp-action="DmainReq" asp-route-n="1" class=" card tdn cp d-card1">
            <div class="card-body">
                <div class="card-p1 flex-column flex-md-row  flex-md-row   d-flex justify-content-start align-items-center">
                    <img class="adcardimg me-md-2" src="~/images/new-5-svgrepo-com.svg" />
                    <p class="card-text">NEW</p>
                </div>
                <div class="card-p2 mt-2">
                    <p class="card-text">@ViewBag.newc</p>
                </div>
            </div>
        </a>
        <a id="c2" asp-area="" asp-controller="ADashboard" asp-action="DmainReq" asp-route-n="2" class=" card tdn cp d-card2 ">
            <div class="card-body">
                <div class="card-p1 flex-column flex-md-row    d-flex justify-content-start align-items-center flex-column">
                    <img class="adcardimg me-md-2" src="~/images/chat-pending-svgrepo-com.svg" />
                    <p class="card-text">PENDING</p>
                </div>
                <div class="card-p2 mt-2">
                    <p class="card-text">@ViewBag.penc</p>
                </div>
            </div>
        </a>
        <a id="c3" asp-area="" asp-controller="ADashboard" asp-action="DmainReq" asp-route-n="3" class=" card tdn cp d-card3 ">
            <div class="card-body">
                <div class="card-p1 flex-column flex-md-row    d-flex justify-content-start align-items-center">
                    <img class="adcardimg me-md-2" src="~/images/checkbox-active-svgrepo-com.svg" />
                    <p class="card-text">ACTIVE</p>
                </div>
                <div class="card-p2 mt-2">
                    <p class="card-text">@ViewBag.actc</p>
                </div>
            </div>
        </a>
        <a id="c4" asp-area="" asp-controller="ADashboard" asp-action="DmainReq" asp-route-n="4" class=" card tdn cp d-card4 ">
            <div class="card-body">
                <div class="card-p1 flex-column flex-md-row    d-flex justify-content-start align-items-center">
                    <img class="adcardimg me-md-2" src="~/images/time-past-svgrepo-com.svg" />
                    <p class="card-text">CONCLUDE</p>
                </div>
                <div class="card-p2 mt-2">
                    <p class="card-text">@ViewBag.conc</p>
                </div>
            </div>
        </a>
        <a id="c5" asp-area="" asp-controller="ADashboard" asp-action="DmainReq" asp-route-n="5" class=" card tdn cp d-card5 ">
            <div class="card-body">
                <div class="card-p1 flex-column flex-md-row    d-flex justify-content-start align-items-center justify-content-start align-items-center">
                    <img class="adcardimg me-md-2" src="~/images/close-ellipse-svgrepo-com.svg" />
                    <p class="card-text">TO CLOSE</p>
                </div>
                <div class="card-p2 mt-2">
                    <p class="card-text">@ViewBag.closec</p>
                </div>
            </div>
        </a>
        <a id="c6" asp-area="" asp-controller="ADashboard" asp-action="DmainReq" asp-route-n="6" class=" card tdn cp d-card6 ">
            <div class="card-body">
                <div class="card-p1 flex-column flex-md-row    d-flex justify-content-start align-items-center">
                    <img class="adcardimg me-md-2" src="~/images/dollar-minimalistic-svgrepo-com.svg" />
                    <p class="card-text">UNPAID</p>
                </div>
                <div class="card-p2 mt-2">
                    <p class="card-text">@ViewBag.unpaidc</p>
                </div>
            </div>
        </a>
    </section>
    <partial name="_ADashboardPartial" model="Model" />
</div>

@section Scripts {
    <script>
        window.addEventListener("load", (event) => {

            console.log("page is fully loaded");

            var idname = @ViewBag.cardid;

            switch (idname) {
                case c1:
                    var clickedDiv = document.getElementById('c1');
                    clickedDiv.classList.add('cactive');
                    break;

                case c2:
                    var clickedDiv = document.getElementById('c2');
                    clickedDiv.classList.add('cactive');
                    break;

                case c3:
                    var clickedDiv = document.getElementById('c3');
                    clickedDiv.classList.add('cactive');
                    break;

                case c4:
                    var clickedDiv = document.getElementById('c4');
                    clickedDiv.classList.add('cactive');
                    break;

                case c5:
                    var clickedDiv = document.getElementById('c5');
                    clickedDiv.classList.add('cactive');
                    break;

                case c6:
                    var clickedDiv = document.getElementById('c6');
                    clickedDiv.classList.add('cactive');
                    break;

                default:
                    // Handle cases where idname doesn't match any of the above
                    console.warn("Unknown card ID:", idname);
            }



        });

        window.addEventListener("load", (event) => {
            function setActive() {

                // Remove 'active' class from all divs
                var divs = document.querySelectorAll('.card'); // Replace 'your-div-class' with the class name of your divs
                divs.forEach(function (div) {
                    div.classList.remove('cactive');
                });

                // Add 'active' class to the clicked div
                var id = @ViewBag.cardid;
                if (id != null) {
                    var clickedDiv = document.getElementById('id');
                    if (clickedDiv) {
                        clickedDiv.classList.add('cactive');
                    }
                }

            }
        });
    </script>
}

