@model halloDocEntities.ViewDataModels.SendOrder;
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_ADashboard.cshtml";
}
<div class="anav mt-3">
    <a class="anavchild cp tdn ncactive">Dashboard</a>
    <a class="anavchild cp tdn">Provider Location</a>
    <a class="anavchild cp tdn">My Profile</a>
    <a class="anavchild cp tdn">Provider</a>
    <a class="anavchild cp tdn">Partners</a>
    <a class="anavchild cp tdn">Access</a>
    <a class="anavchild cp tdn">Records</a>
</div>
<div class="dashsidebar hideside" id="dashsidebar">
    <a class="dschild cp tdn dschildactive">Dashboard</a>
    <a class="dschild cp tdn">Provider Location</a>
    <a class="dschild cp tdn">My Profile</a>
    <a class="dschild cp tdn">Provider</a>
    <a class="dschild cp tdn">Partners</a>
    <a class="dschild cp tdn">Access</a>
    <a class="dschild cp tdn">Records</a>
</div>
<div class="docMain mt-2">
    <div class="dmboxbar">
        <h2 m-0>Send Order</h2>
        <a asp-area="" asp-controller="ADashboard" asp-action="Dmain" asp-route-id="@ViewBag.status" class="logout tdn dmnewreq mb-3">Back</a>
    </div>

    <div class="dmbox">
        <form asp-controller="ADashboard" asp-action="Order"  class="row g-2 g-md-3">



            <div class="form-floating col-12 col-md-6 d-flex justify-content-center align-items-center">
                <select id="profdropdown" asp-for="profession" class="form-select pt-0 pb-0">
                    <option value="" selected>Select profession</option>
                    @foreach (var ritem in Model?.professionList)
                    {
                        <option value="@ritem.HealthProfessionalId">@ritem.ProfessionName</option>

                    }
                </select>
                <span asp-validation-for="profession" class="text-danger"></span>
            </div>
            <div class="form-floating col-12 col-md-6 d-flex justify-content-center align-items-center">
                <select id="business" asp-for="business" class="form-select pt-0 pb-0">
                    <option value="" selected>Select business</option>
                    @foreach (var ritem in Model?.businessList)
                    {
                        
                        <option class="businessOption" data-profession-id="@ritem.Profession" value="@ritem.VendorId">@ritem.VendorName</option>

                    }
                </select>
                <span asp-validation-for="business" class="text-danger"></span>
            </div>

            <div class="form-floating col-12 col-md-6">
                <input asp-for="Contact" type="text" class="form-control" id="fdate1" placeholder="Password" value="">
                <label class="mylable" for="fdate1">Business Contact</label>
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-floating col-12 col-md-6">
                <input asp-for="email" type="text" class="form-control" id="fdate2" placeholder="Password" value="">
                <label class="mylable" for="fdate2">Business email</label>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-floating col-12 col-md-6">
                <input asp-for="fax" type="text" class="form-control" id="fdate3" placeholder="Password" value="">
                <label class="mylable" for="fdate3">Fax</label>
                <span asp-validation-for="fax" class="text-danger"></span>
            </div>

            <div class=" form-floating col-12 mb-2">
                <textarea asp-for="orderDetail" class="form-control h-100" id="floatingInput1" rows="3"
                          placeholder="Enter symptoms details in detail(optional)"></textarea>
                <label class="mylable" for="floatingInput1">Prescription or order details</label>
                <span asp-validation-for="orderDetail" class="text-danger"></span>
            </div>
            <div class="form-floating col-12 col-md-6 d-flex justify-content-center align-items-center">
                <select asp-for="refill" class="form-select pt-0 pb-0">
                    <option selected>Number Retail</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span asp-validation-for="refill" class="text-danger"></span>
            </div>

            <div class="btnline">
                <button type="submit" class="btn btn-outline-primary active blbtn">Submit</button>
                <button type="button" asp-area="" asp-controller="ADashboard" asp-action="Order" class="btn btn-outline-primary blbtn">Cancel</button>
            </div>

            @Html.ValidationMessage("ordersuccess", null, new { @class= "text-success fw-bold"})
        </form>
    </div>
</div>

@section OrderScript{
    <script>
        $('#profdropdown').change(function () {
            var selectPhysiciandrop = $('#business');
            selectPhysiciandrop.val("");
            var selectedprofessionId = $(this).val(); // Get the selected region ID

            $('.businessOption').each(function () {
                var businessProfessionId = $(this).attr('data-profession-id'); // Get the physician's region ID

                // Check if selected region ID is empty or matches the physician's region ID
                if (selectedprofessionId === '' || businessProfessionId === selectedprofessionId) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        document.querySelector('#business').addEventListener('change', function () {
            console.log("new");
            // Get the selected business ID
            var selectedBusinessId = this.value;

            // Fetch data for the selected business using AJAX
            fetch('/ADashboard/GetOrderData?businessId=' + selectedBusinessId)
                .then(response => response.json())
                .then(data => {
                    
                    if (data) {
                        document.getElementById('fdate1').value = data.contact;
                        document.getElementById('fdate2').value = data.email;
                        document.getElementById('fdate3').value = data.fax;
                    }
                });
        });
    </script>
}