@model halloDocEntities.ViewDataModels.ADashTable;


<section class="partialv" @*style="min-width:min-content;"*@>
    <div class="d-flex justify-content-between p-2">
        <div class="d-left">
            <div class="me-auto p-1">
                <h2 class="dh2">Patient</h2><span>@ViewBag.heading</span>
            </div>
        </div>
        <div class="d-flex align-items-center d-right">
            <div class="p-1 ">
                <button class="btn1 px-2 py-1">
                    <i class="bi bi-send"></i>
                    <a href="#">Send Link</a>
                </button>
            </div>
            <div class="p-1 ">
                <button class="btn1 px-2 py-1">
                    <i class="bi bi-pencil"></i>
                    <a href="#">Create Request</a>
                </button>
            </div>
            <div class="p-1 ">
                <form asp-action="Export" asp-controller="ADashboard" method="post">
                    <button type="submit" id="btnSubmit" class="btn1 d-flex align-items-center justify-content-evenly px-2 py-1">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        <input type="hidden" name="GridHtml" />
                        <span class="d-none d-md-block">Export</span>
                        @*<input type="submit" id="btnSubmit" value="Export" />*@
                    </button>
                </form>
            </div>
            <div class="p-1 ">
                <a asp-asp-controller="ADashboard" asp-action="DownloadExcel" class="tdn btn1 d-flex align-items-center justify-content-evenly px-2 py-1">
                    <i class="bi bi-file-earmark-arrow-down-fill"></i>
                    <span class="d-none d-md-block">Exportall</span>
                </a>
            </div>
            <div class="p-1 ">
                <button class="btn1 px-2 py-1">
                    <i class="bi bi-person-fill-gear"></i>
                    <a href="#">Request DTYSupport</a>
                </button>
            </div>
        </div>
    </div>
    <div class="dasboardcontainer">
        <div class="middleSearch d-flex align-items-center">
            <div class="MS-left py-2 d-flex flex-row" style="width: 33%;margin-inline: 0;">
                <input id="txtSearch" type="text" class="d-searchbar form-control m-2 " placeholder="&#128269; Search Patients">

                <select id="regiondrop" class="form-select d-searchbar form-control m-2" aria-label="Default select example">
                    <option value="" selected>&#128269; All Regions</option>
                    <option value="1">Gujarat</option>
                    <option value="2">Maharashtra</option>
                    <option value="3">Punjab</option>
                </select>
            </div>
            <div class="MS-right p-1 mb-2 mb-md-0">


                <div class="btn-group align-items-center justify-content-between flex-wrap gap-md-3" role="group" aria-label="Button group">
                    <div class="pbox filterButton cp d-flex ps-md-2" data-requestor="all">
                        <span class="circle green my-1"></span><span>All</span>
                    </div>
                    <div class="pbox d-flex filterButton cp ms-md-2" data-requestor="patient">
                        <span class="circle blue my-1"></span><span>Patient</span>
                    </div>
                    <div class="pbox d-flex filterButton cp ms-2" data-requestor="family">
                        <span class="circle purple my-1"></span><span>Family/Friend</span>
                    </div>
                    <div class="pbox d-flex filterButton cp" data-requestor="business">
                        <span class="circle red my-1"></span>Business<span></span>
                    </div>
                    <div class="pbox d-flex filterButton cp" data-requestor="concierge">
                        <span class="circle orange my-1"></span><span>Concierge</span>
                    </div>
                    <div class="pbox d-flex filterButton cp">
                        <span class="circle pink my-1"></span><span>VIP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tableparent" id="dvCustomers">
        <table class="table table-hover" style="border: 1px solid rgba(201, 201, 201, 0.878);">
            <thead>
                <tr>
                    <th scope="col" class="px-2 py-1.5 th-name">Name</th>
                    <th scope="col" class="px-2 py-1.5 th-date">Date of Birth</th>
                    <th scope="col" class="px-2 py-1.5 th-request">Requestor</th>
                    <th scope="col" class="px-2 py-1.5 th-requestDate">Requested Date</th>
                    <th scope="col" class="px-2 py-1.5 th-phone">Phone</th>
                    <th scope="col" class="px-2 py-1.5 th-address">Address</th>
                    <th scope="col" class="px-2 py-1.5 th-notes">Notes</th>
                    <th scope="col" class="px-2 py-1.5 th-chat">Chat With</th>
                    <th scope="col" class="px-2 py-1.5 th-action">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.tableData != null)
                {
                    @foreach (var item in ViewBag.tableData)
                    {
                        var bgcolor = @GetBackgroundColor(@item.relation);
                        <tr>
                            <td id="region" class="d-none">@item.region</td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">
                                <span class="d-flex  d-flex justify-content-between align-items-center">
                                    <span>@item.name</span><span class="icon-Ehome"><a class="tdn" href='mailto:@item.email?subject=subject&body=Hello!'><i class="fa-solid fa-envelope"></i></a></span>
                                </span>
                            </td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">@item.dob</td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">@item.requstor</td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">@item.reqDate</td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">
                                <span class="tb-phone d-flex flex-column">
                                    <span class="icon-phone d-flex align-items-center justify-content-center gap-1 p-1">
                                        <i class="fa-solid fa-phone mx-1"></i><span>+91 @item.mobile</span>
                                    </span>
                                    <span>@item.requstor</span>
                                </span>
                            </td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">@item.address</td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">Admin Transferred to Dr. AGOLA on 17/10/2023 at 3:07:19 AM:trse</td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">
                                <span class="icone-Chome"><i class="fa-solid fa-user"></i>Provider</span>
                            </td>
                            <td style="background-color: @bgcolor" class="px-2 py-1.5">
                                @*<span class="action dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Action</span>
                        <ul class="dropdown-menu">
                        <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-suitcase" style="margin-right: 0.5rem;"></i><span>Assign Patient</span></a></li>
                        <li class="d-item">
                        <a class="dropdown-item" href="#">
                        <i class="fa-regular fa-rectangle-xmark" style="margin-right: 0.5rem;"></i>
                        <span>Cancle Case</span>
                        </a>
                        </li>
                        <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-eye" style="margin-right: 0.5rem;"></i><span>View Case</span></a></li>
                        <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-notes-medical" style="margin-right: 0.5rem;"></i><span>View  Notes</span></a></li>
                        <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-ban" style="margin-right: 0.5rem;"></i><span>Block Patient</span></a></li>
                        </ul>*@
                                <label class="dropdown">
                                    <div class="dd-button">
                                        Action
                                    </div>
                                    <input type="checkbox" class="dd-input" id="test">
                                    <ul class="dd-menu">
                                        <li><a data-bs-toggle="modal" data-bs-target="#assignreq-@item.rid" class="dropdown-item"><i class="fa-solid fa-suitcase" style="margin-right: 0.5rem;"></i><span>Assign Patient</span></a></li>
                                        <li>

                                            <a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#cancelcase-@item.rid">
                                                <i class="fa-regular fa-rectangle-xmark" style="margin-right: 0.5rem;"></i>
                                                <span>Cancle Case</span>
                                            </a>
                                        </li>
                                        <li><a asp-area="" asp-controller="ADashboard" asp-action="ViewCase" asp-route-rid="@item.rid" class="dropdown-item" ><i class="fa-solid fa-eye" style="margin-right: 0.5rem;"></i><span>View Case</span></a></li>
                                        <li><a asp-area="" asp-controller="ADashboard" asp-action="ViewNote" asp-route-rid="@item.rid" class="dropdown-item"><i class="fa-solid fa-notes-medical" style="margin-right: 0.5rem;"></i><span>View  Notes</span></a></li>
                                        <li><a data-bs-toggle="modal" data-bs-target="#confirmblock-@item.rid" class="dropdown-item"><i class="fa-solid fa-ban" style="margin-right: 0.5rem;"></i><span>Block Patient</span></a></li>
                                    </ul>
                                </label>
                            </td>
                        </tr>


                        @*assign request*@
                        <div class="modal fade" id="assignreq-@item.rid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Cancellation</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <span class="fw-bold">Patient Name : </span><span>@item.name</span>
                                        </div>
                                        <form asp-area="" asp-controller="ADashboard" asp-action="AssignCase" asp-route-rid="@item.rid" class="row g-2 mt-3">
                                            <select asp-for="region" id="ACregiondrop" class="form-select d-searchbar form-control mb-2" aria-label="Default select example">
                                                <option value="" selected>Select Region</option>
                                                @foreach (var ritem in ViewBag.rlist)
                                                {
                                                    <option value="@ritem.RegionId">@ritem.Name</option>

                                                }
                                            </select>
                                            <select asp-for="phyId" id="physicianDropdown" class="form-select d-searchbar form-control mb-2" aria-label="Default select example">
                                                <option value="" selected>select physician</option>
                                                @foreach (var pitem in ViewBag.plist)
                                                {
                                                    <option class="ACRoption" data-region-id="@pitem.RegionId" value="@pitem.PhysicianId">@pitem.FirstName</option>

                                                }
                                                
                                            </select>

                                            <div class="form-floating col-12 mb-2">
                                                <input asp-for="notes" type="text" class="form-control" id="floatingInput1" placeholder="Provide additional notes..">
                                                <label class="mylable" for="floatingInput1">Description</label>
                                                @*<span asp-validation-for="FFirstName" class="text-danger"></span>*@
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn ">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                    @*<div class="modal-footer">
                                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn ">Save changes</button>
                                    </div>*@
                                </div>
                            </div>
                        </div>


                        @*cancel case*@
                        <div class="modal fade" id="cancelcase-@item.rid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Cancellation</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <span class="fw-bold">Patient Name : </span><span>@item.name</span>
                                        </div>
                                        <form asp-area="" asp-controller="ADashboard" asp-action="CancelCase" asp-route-rid="@item.rid" class="row g-2 mt-3">
                                            <select asp-for="caseTag" class="form-select d-searchbar form-control mb-2" aria-label="Default select example">
                                                <option value="" selected>Reason for cancellation..</option>
                                                <option value="8">No Respone to call or text, left message </option>
                                                <option value="9">Cost Issue </option>
                                                <option value="10">Insurance Issue </option>
                                                <option value="11">Out of Service Area </option>
                                                <option value="12">Not appropriate for service </option>
                                                <option value="13">Referral to Clinic or Hospital </option> 
                                            </select>
                                            <div class="form-floating col-12 mb-2">
                                                <input asp-for="notes" type="text" class="form-control" id="floatingInput1" placeholder="Provide additional notes..">
                                                <label class="mylable" for="floatingInput1">Provide additional notes..</label>
                                                @*<span asp-validation-for="FFirstName" class="text-danger"></span>*@
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn ">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>


                        @*confirm block*@
                        <div class="modal fade" id="confirmblock-@item.rid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Block</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <span class="fw-bold">Patient Name : </span><span>@item.name</span>
                                        </div>
                                        <form class="row g-2 mt-3">
                                            <div class="form-floating col-12 mb-2">
                                                <input type="text" class="form-control" id="floatingInput1" placeholder="Provide additional notes..">
                                                <label class="mylable" for="floatingInput1">Reason for block request..</label>
                                                @*<span asp-validation-for="FFirstName" class="text-danger"></span>*@
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn ">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    }
                }
            </tbody>
        </table>
    </div>

    <div class="accordion d-block d-md-none" id="accordionExample">
        @if (ViewBag.tableData != null)
        {
            @foreach (var item in ViewBag.tableData)
            {
                var bgcolor = @GetBackgroundColor(@item.relation);
                <div class="accordion-item mb-1">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button border-dark border-2 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@item.guid" aria-expanded="true" aria-controls="flush-@item.guid">
                            <div class="d-flex flex-row justify-content-between w-100 pe-2 align-items-center">
                                <div class="abchild1">
                                    <h4>@item.name</h4>
                                    <h6>@item.address</h6>
                                </div>
                                <div class="abchild2 d-flex flex-row justify-content-evenly align-items-center">
                                    <span class="circle me-2" style="background-color:@bgcolor"></span>
                                    <span>@item.requstor</span>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-@item.guid" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body" style="background-color:#cbe5faa3">
                            <div class="p-1 d-flex align-items-start flex-column">
                                <div class="d-none" id="acrregion">@item.region</div>
                                <div class="mb-1"><i class="bi bi-cake2 border border-2 border-info rounded-circle pe-1 ps-1 m-1"></i><span class="fw-bold">Date Of Birth : </span><span>@item.dob</span></div>
                                <div class="mb-1"><i class="bi bi-envelope border border-2 border-info rounded-circle pe-1 ps-1 m-1"></i> <span class="fw-bold">Email : </span><span>@item.email</span></div>
                                <div class="mb-1"><i class="bi bi-telephone border border-2 border-info rounded-circle pe-1 ps-1 m-1"></i> <span class="fw-bold">Mobile : </span><span>@item.mobile</span></div>
                                <div class="mb-1"><i class="bi bi-folder2-open border border-2 border-info rounded-circle pe-1 ps-1 m-1"></i> <span class="fw-bold">Notes : </span><span>@item.notes</span></div>
                                <div class="mb-1"><i class="bi bi-calendar-date border border-2 border-info rounded-circle pe-1 ps-1 m-1"></i> <span class="fw-bold">Date Of service : </span><span>@item.reqDate</span></div>
                                <div class="mb-1"><i class="bi bi-heart-pulse border border-2 border-info rounded-circle pe-1 ps-1 m-1"></i> <span class="fw-bold">Physician : </span><span>@item?.provider</span></div>
                                <div class="mb-1"><i class="bi bi-person border border-2 border-info rounded-circle pe-1 ps-1 m-1"></i> <span class="fw-bold">Requestor : </span><span> @item.requstor</span></div>
                            </div>
                            <div class="p-1">
                                <div class="row d-flex justify-content-evenly mb-2">
                                    <button class="badge rounded-pill bg-success col-5">View Notes</button>
                                    <button class="badge rounded-pill bg-success col-5">Doctor Notes</button>
                                </div>
                                <div class="row d-flex justify-content-evenly mb-2">
                                    <button class="badge rounded-pill bg-success col-5">View Uploads</button>
                                    <button class="badge rounded-pill bg-success col-5">Encounter</button>
                                </div>
                                <div class="row d-flex justify-content-evenly mb-2">
                                    <button class="badge rounded-pill bg-success col-5">orders</button>
                                    <button class="badge rounded-pill bg-success col-5" onclick="location.href='mailto:@item.email?subject=subject&body=Hello!'" class="badge rounded-pill bg-success col-5">Email</button>
                                    @*<a class="tdn col-5" href='mailto:@item.email?subject=subject&body=Hello!'><div class="badge rounded-pill bg-success col-5">Email</div></a>*@
                                </div>
                            </div>
                            <div class="p-1 d-flex justify-content-end">
                                <span>Chat with : </span>
                                <span class="icone-Chome ms-1"><i class="fa-solid fa-user"></i>Provider</span>
                                <span class="action dropdown-toggle ms-1" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Action</span>
                                <ul class="dropdown-menu">
                                    <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-suitcase" style="margin-right: 0.5rem;"></i><span>Assign Patient</span></a></li>
                                    <li class="d-item">
                                        <a class="dropdown-item" href="#">
                                            <i class="fa-regular fa-rectangle-xmark" style="margin-right: 0.5rem;"></i>
                                            <span>Cancle Case</span>
                                        </a>
                                    </li>
                                    <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-eye" style="margin-right: 0.5rem;"></i><span>View Case</span></a></li>
                                    <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-notes-medical" style="margin-right: 0.5rem;"></i><span>View  Notes</span></a></li>
                                    <li class="d-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-ban" style="margin-right: 0.5rem;"></i><span>Block Patient</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>




            }
        }
    </div>

</section>

@functions {
    string GetBackgroundColor(string relation)
    {
        switch (relation?.ToLower())
        {
            case "patient":
                return "#b1c9ef";
            case "business":
                return "#f5d7db";
            case "family":
                return "#f2f254b8";
            case "concierge":
                return "#d454d6a6";
            // Add more cases if needed
            default:
                return "white"; // Default background color
        }
    }
}

