@model halloDocEntities.ViewDataModels.AProvider;
@{
    ViewData["Title"] = "Provider";
    Layout = "~/Views/Shared/_AdminProvider.cshtml";
}
<div class="docMain mt-3">
    <div class="dmboxbar">
        <h3 mt-1 mb-1>Provider Information</h3>
    </div>

    <div class="dmbox">

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-1">
            <select id="providerregiondrop" class="form-select d-searchbar form-control m-0 w-25 " aria-label="Default select example">
                <option value="" selected>&#128269; All Regions</option>
                @foreach (var item in @ViewBag.APData[0].regionList)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <a asp-area="" asp-controller="AdminProvider" asp-action="CreteProvider" class="btn mt-2 mt-md-0">Create Provider Account</a>
        </div>

        <table class="table table-hover mt-3" style="border: 1px solid rgba(201, 201, 201, 0.878);">
            <thead>
                <tr>
                    <th scope="col" class="thchild px-2 py-1 th-sn">Stop Notification</th>
                    <th scope="col" class="thchild px-2 py-1 th-pn">Provider Name</th>
                    <th scope="col" class="thchild px-2 py-1 th-role">Role</th>
                    <th scope="col" class="thchild px-2 py-1 th-oncall">OnCall Status</th>
                    <th scope="col" class="thchild px-2 py-1 th-status">Status</th>
                    <th scope="col" class="thchild px-0 py-1 th-provideraction">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.APData)
                {
                    <tr class="ptr">
                        <td class="tdregion" hidden>@item.region</td>
                        <td class="tdchild tdcheckbox"><input type="checkbox" /></td>
                        <td class="tdchild">@item.name</td>
                        <td class="tdchild">@item.role</td>
                        <td class="tdchild">@item.onCall</td>
                        <td class="tdchild">@item.status</td>
                        <td class="tdchild px-0">
                            <button class="btn btnoutline btn-outline-info" data-bs-toggle="modal" data-bs-target="#contactprovider-@item.physicianId">Contact</button>
                            <a asp-area="" asp-controller="AdminProvider" asp-action="EditProvider" asp-route-physicianId="@item.physicianId" class="btn btnoutline btn-outline-info">Edit</a>
                        </td>
                    </tr>

                    //popup

                    <div class="modal fade" id="contactprovider-@item.physicianId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Your Provider</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-2">
                                    <div>Choose communication type to send message</div>

                                    <form asp-area="" asp-controller="AdminProvider" asp-action="MailToProvider" class="row g-2 mt-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="SMS" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                SMS
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="Email" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Email
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="Both" id="flexRadioDefault3">
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                Both
                                            </label>
                                        </div>

                                        <input type="text" hidden asp-for="email" value="@item.email" />
                                        <div class="form-floating col-12 mb-2 mt-2">
                                            <input asp-for="popupMsg" type="text" class="form-control" id="floatingInput1" placeholder="Provide additional notes..">
                                            <label class="mylable" for="floatingInput1">Message</label>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" style="" class="btn" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                }
            </tbody>
        </table>

        <div class="accordion d-block d-md-none mt-3" id="accordionExample">
            @if (ViewBag.APData != null)
            {
                @foreach (var item in ViewBag.APData)
                {
                    <div class="accordion-item border-bottom-2 mt-2" region="@item.region">
                        <h2 class="accordion-header" id="headingOne">
                            <button style=" border:none !important; border-bottom:2px solid gray; color:black;" class="accordion-button border-dark border-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@item.physicianId" aria-expanded="true" aria-controls="flush-@item.physicianId">
                                <div class="d-flex flex-column justify-content-center w-100 pe-2 align-items-start">
                                    <div class="abchild1">
                                        <input type="checkbox" />
                                        <span class="fw-bold">@item.name</span>
                                    </div>
                                    <div>
                                        <span>OnCall Status : </span><span class="fw-bold">@item.onCall</span>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-@item.physicianId" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body" style="background-color:#cbe5faa3; border-top:1px solid;">
                                <div class="p-1 d-flex align-items-start flex-column">
                                    <div>
                                        <span class=""></span><span class="ms-1">Role : </span><span class="fw-bold">@item.role</span>
                                    </div>
                                    <div>
                                        <span class=""></span><span class="ms-1">Status : </span><span class="fw-bold">@item.status</span>
                                    </div>
                                    <div class="d-flex justify-content-end flex-row w-100">
                                        <button class="btn btnoutline btn-outline-info" data-bs-toggle="modal" data-bs-target="#contactprovider-@item.physicianId">Contact</button>
                                        <a asp-area="" asp-controller="AdminProvider" asp-action="EditProvider" asp-route-physicianId="@item.physicianId" class="btn btnoutline btn-outline-info ms-2">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="d-flex justify-content-end p-2">
            <button style="display:none;" class="btn" id="providersavebtn">Save</button>
        </div>
    </div>
</div>

@section Scripts{
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            toastr.success("@TempData["SuccessMessage"]");
        </script>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            toastr.error("@TempData["ErrorMessage"]");
        </script>
    }

    <script>
        $('#providerregiondrop').change(function () {
            var selectedRegion = $(this).val();
            console.log(selectedRegion);
            $('.ptr').each(function () {
                var region = $(this).find('.tdregion').text();
                if (selectedRegion === '' || region === selectedRegion) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('.tdcheckbox').click(function () {
            var saveButton = $('#providersavebtn');
            saveButton.show(); // Show the button using jQuery's show() method
        });

        $('#providerregiondrop').change(function () {
            var selectedRegion = $(this).val();
            $('.accordion-item').each(function () {
                var region = $(this).attr("region");
                if (selectedRegion === '' || region === selectedRegion) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    </script>
}