@model halloDocEntities.ViewDataModels.AProvider;
@{
    ViewData["Title"] = "Provider";
    Layout = "~/Views/Shared/_AdminProvider.cshtml";
}
<div class="docMain mt-3">
    <div class="dmboxbar">
        <h3 mt-1 mb-1>Provider Information</h3>
    </div>

    <div class="dmbox">

        <div class="d-flex flex-row justify-content-between align-items-center mt-1">
            <select id="providerregiondrop" class="form-select d-searchbar form-control m-0 w-25 " aria-label="Default select example">
                <option value="" selected>&#128269; All Regions</option>
                @foreach (var item in @ViewBag.APData[0].regionList)
                {
                    <option value="1">@item</option>
                }
            </select>
            <button class="btn">Create Provider Account</button>
        </div>

        <table class="table table-hover mt-3" style="border: 1px solid rgba(201, 201, 201, 0.878);">
            <thead>
                <tr>
                    <th scope="col" class="thchild px-2 py-1 th-sn">Stop Notification</th>
                    <th scope="col" class="thchild px-2 py-1 th-pn">Provider Name</th>
                    <th scope="col" class="thchild px-2 py-1 th-role">Role</th>
                    <th scope="col" class="thchild px-2 py-1 th-oncall">OnCall Status</th>
                    <th scope="col" class="thchild px-2 py-1 th-status">Status</th>
                    <th scope="col" class="thchild px-0 py-1 th-provideraction">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.APData)
                {
                    <tr class="ptr">
                        <td class="tdregion" hidden>@item.region</td>
                        <td class="tdchild"><input type="checkbox" /></td>
                        <td class="tdchild">@item.name</td>
                        <td class="tdchild">@item.role</td>
                        <td class="tdchild">@item.onCall</td>
                        <td class="tdchild">@item.status</td>
                        <td class="tdchild px-0">
                            <button class="btn btnoutline btn-outline-info">contact</button>
                            <button class="btn btnoutline btn-outline-info">Edit</button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $('#providerregiondrop').change(function () {
            debugger
            var selectedRegion = $(this).val();
            $('.ptr').each(function () {
                var region = $(this).find('.tdregion').text();
                if (selectedRegion === '' || region === selectedRegion) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    </script>
}