@using halloDocEntities.DataModels
@{
    ViewData["Title"] = "AccountAccess";
    Layout = "~/Views/Shared/_AdminAccess.cshtml";
    List<Role> roleList = ViewData["roleList"] as List<Role>;
}

<div class="docMain mt-2">
    <div class="dmboxbar">
        <h2 m-0>Account Access</h2>
    </div>

    <div class="dmbox pb-5">
        <div class="d-flex justify-content-end">
            <a asp-area="" asp-controller="AdminAccess" asp-action="CreateRole" class="btn btnoutline m-2">Create Access</a>
        </div>

        <table class="table table-hover mt-3" style="border: 1px solid rgba(201, 201, 201, 0.878); font-size:16px;">
            <thead>
                <tr>
                    <th scope="col" class="thchild px-2 py-1 th-pn">Name</th>
                    <th scope="col" class="thchild px-2 py-1 th-role">Account Type</th>
                    <th scope="col" class="thchild px-0 py-1 th-provideraction">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (roleList != null)
                {
                    @foreach (var role in roleList)
                    {
                        <tr class="ptr text-center">
                            <td class="tdregion">@role.Name</td>
                            @if (role.AccountType == 1)
                            {
                                <td class="tdregion">Admin</td>
                            }
                            else if (role.AccountType == 2)
                            {
                                <td class="tdregion">Patient</td>
                            }
                            else
                            {
                                <td class="tdregion">Physician</td>
                            }
                            <td class="tdchild px-0">
                                <a asp-area="" asp-controller="AdminAccess" asp-action="CreateRole" asp-route-roleId="@role.RoleId" class="btn btnoutline btn-outline-info">Edit</a>
                                <button type="button" class="btn btnoutline" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Delete
                                </button>
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #ff5353">
                                        <h5 class="modal-title">Are You Sure you want to delete this Role?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="@Url.Action("DeleteRole", "AdminAccess", new { roleId = role.RoleId })" type="button" class="btn" style="background-color:#ff5353 !important; border:1px solid #ff5353 !important; color:white !important;">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </tbody>
        </table>

        <div class="accordion d-block d-md-none mt-3" id="accordionExample">
            @if (roleList != null)
            {
                @foreach (var item in roleList)
                {
                    <div class="accordion-item border-bottom-2 mt-2">
                        <h2 class="accordion-header" id="headingOne">
                            <button style=" border:none !important; border-bottom:2px solid gray; color:black;" class="accordion-button border-dark border-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@item.RoleId" aria-expanded="true" aria-controls="flush-@item.RoleId">
                                <div class="d-flex flex-column justify-content-center w-100 pe-2 align-items-start">
                                    <div class="abchild1 fw-bold mb-2">
                                        @item.Name
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-@item.RoleId" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body" style="background-color:#cbe5faa3; border-top:1px solid;">
                                <div class="p-1 d-flex align-items-start flex-column">
                                    <div>
                                        <span class=""></span><span class="ms-1">Account Type : </span><span class="fw-bold">
                                            @((item.AccountType == 1) ? "Admin" : (item.AccountType == 3) ? "Physician" : "User")
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-end flex-row w-100">
                                        <a asp-area="" asp-controller="AdminAccess" asp-action="CreateRole" asp-route-roleId="@item.RoleId" class="btn btnoutline btn-outline-info ms-2">Edit</a>
                                        <button type="button" class="btn btnoutline ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</div>

@section Scripts{
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            toastr.success("@TempData["SuccessMessage"]");
        </script>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            toastr.error("@TempData["ErrorMessage"]");
        </script>
    }
}