@model halloDocEntities.ViewDataModels.CreateRoleData;
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminAccess.cshtml";
}
<div class="docMain mt-2">
    <div class="dmboxbar">
        <h2 m-0>Create Role</h2>
        <a asp-area="" asp-controller="AdminAccess" asp-action="AccountAccess" class="logout tdn dmnewreq mb-3">Back</a>
    </div>

    <div class="dmbox">
        <form asp-controller="AdminAccess" asp-action="CreateRolePost" class="row g-2 g-md-3">

            <h4>Details</h4>

            <div class="form-floating col-12 col-md-6">
                <input type="text" asp-for="roleName" class="form-control" id="fdate2" placeholder="Password">
                <label class="mylable" for="fdate2">Role Name</label>
                <span class="text-danger"></span>
            </div>

            <div class="form-floating col-12 col-md-6 d-flex justify-content-center align-items-center">
                <select asp-for="accountType" id="accountTypeDropdown" class="form-select pt-0 pb-0">
                    <option value="" selected>Account Type</option>
                    @if (Model.accountTypeList != null)
                    {
                        @foreach (var item in Model.accountTypeList)
                        {
                            <option value="@item.AspNetRoleId">@item.Name</option>
                        }
                    }
                </select>
                <span class="text-danger"></span>
            </div>

            <div id="menuListContainer" class="form-floating col-12 border-1">
                <div class="row">
                    <div class="col">
                        @if (Model?.menuList?.Count != 0)
                        {
                            @foreach (var item in Model?.menuList)
                            {
                                <div class="form-check form-check-inline parent-div-class">
                                    <input name="menuItem" accountType="@item.Name" class="form1 form-check-input text-info" type="checkbox" id="checkbox-@item.Name" value="@item.MenuId" style="display:block;">
                                    <label for="checkbox-@item.Name" class="form-check-label">@item.Name</label>
                                </div>
                            }
                        }
                    </div>
                </div>
               
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#accountTypeDropdown").change(function () {
            console.log("working");
            var selectedRoleId = $(this).val();

            $(".form-check-input").each(function () {
                var itemName = $(this).attr("accountType");
                var shouldBeHidden = (itemName && !itemName.includes(selectedRoleId)) || !itemName; // Logic for showing when null

                $(this).closest(".parent-div-class").toggleClass("hidden", shouldBeHidden);
            });
        });
    </script>
}