@model halloDocEntities.ViewDataModels.EditPhysicianData;
@{
    ViewData["Title"] = "CreateAdmin";
    Layout = "~/Views/Shared/_AdminProvider.cshtml";
}
<div class="docMain mt-2">
    <div class="dmboxbar">
        <h3 m-0>Create Admin Account</h3>
        <a asp-area="" asp-controller="AdminAccess" asp-action="UserAccess" class="logout tdn dmnewreq mb-3">Back</a>
    </div>

    <div class="dmbox">

        <form asp-controller="AdminAccess" asp-action="CreateAdminPost" enctype="multipart/form-data" class="row g-2 g-md-3">
            <h4 class="mt-2 ms-1">Account Information</h4>

            <div class="form-floating col-12 col-md-4">
                <input asp-for="username" type="text" class="form-control form1" id="fdate2" placeholder="Password" value="@Model?.username">
                <label class="mylable" for="fdate2">UserName</label>
                <span asp-validation-for="username" class="text-danger"></span>
            </div>

            <div class="form-floating col-12 col-md-4">
                <input asp-for="password" type="password" class="form-control form1" id="Password" placeholder="Password" value="">
                <label class="mylable" for="Password">Password</label>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-floating col-12 col-md-4 d-flex justify-content-center align-items-center">
                <select asp-for="role" class="form-select pt-0 pb-0 form1">
                    <option value="" selected>Select Role</option>
                    @foreach (var item in Model?.roleList)
                    {
                        @if (item.Name == Model.state)
                        {
                            <option value="@item.RoleId" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.RoleId">@item.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="role" class="text-danger"></span>
            </div>

            <h4 class=" m-2 ms-1 mt-4 mb-0">Administrator Information</h4>

            <div class="form-floating col-12 col-md-6">
                <input asp-for="firstname" type="text" class="form2 form-control" id="floatingInput2" placeholder="name@example.com">
                <label class="mylable" for="floatingInput2">First Name</label>
                <span asp-validation-for="firstname" class="text-danger"></span>

            </div>

            <div class="form-floating col-12 col-md-6">
                <input asp-for="lastname" type="text" class="form2 form-control" id="floatingPassword" placeholder="Password">
                <label class="mylable" for="floatingPassword">Last Name</label>
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>

            <div class="form-floating col-12 col-md-6">
                <input asp-for="email" type="email" class="form2 form-control" id="floatingInput5" placeholder="name@example.com">
                <label class="mylable" for="floatingInput5">Email address</label>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-floating col-12 col-md-6">
                <input asp-for="confirmEmail" type="email" class="form2 form-control" id="floatingInput5s" placeholder="name@example.com">
                <label class="mylable" for="floatingInput5s">Confirm EmailAddress</label>
                <span asp-validation-for="confirmEmail" class="text-danger"></span>
            </div>

            <div class="form-floating col-12 col-md-6">
                <input type="tel" asp-for="mobile" id="phone23" class=" form2 form-control" placeholder="Mobile Number" />
                <label class="mylable" for="phone23">Mobile No.</label>
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>

            <div class="form-floating col-12 col-md-6 border-1">
                <div class="row">
                    <div class="col">
                        @if (Model?.stateList?.Count != 0)
                        {
                            @foreach (var state in Model?.stateList)
                            {
                                <div class="form-check form-check-inline">
                                    <input name="ProviderStateList" class="form2 form-check-input text-info" type="checkbox" id="checkbox-@state.Name" value="@state.RegionId">
                                    <label for="checkbox-@state.Name" class="form-check-label">@state.Name</label>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <h4 class=" m-2 ms-1 mt-4 mb-0">Mailing & Billing Information</h4>

            <div class="form-floating col-12 col-md-6">
                <input asp-for="address1" type="text" class="form3 form-control" id="address1" placeholder="address1">
                <label class="mylable" for="address1">Address 1</label>
            </div>
            <div class="form-floating col-12 col-md-6">
                <input asp-for="address2" type="text" class="form3 form-control" id="address2" placeholder="address1">
                <label class="mylable" for="address1">Address 2</label>
            </div>
            <div class="form-floating col-12 col-md-6">
                <input asp-for="city" type="text" class="form3 form-control" id="City" placeholder="address1">
                <label class="mylable" for="City">City</label>
            </div>
            <div class="form-floating col-12 col-md-6 d-flex justify-content-center align-items-center">
                <select id="profdropdown" asp-for="state" class="form3 form-select pt-0 pb-0">
                    <option value="" selected>Select State</option>
                    @foreach (var item in Model?.stateList)
                    {
                        <option value="@item.RegionId">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="role" class="text-danger"></span>
            </div>
            <div class="form-floating col-12 col-md-6">
                <input asp-for="zipcode" type="text" class="form3 form-control" id="Zipcode" placeholder="address1">
                <label class="mylable" for="Zipcode">Zipcode</label>
            </div>
            <div class="form-floating col-12 col-md-6">
                <input type="tel" asp-for="billingMobile" id="phone2" class="form3 form-control" placeholder="Mobile Number" />
                <label class="mylable" for="phone2">Mobile No.</label>
                <span asp-validation-for="billingMobile" class="text-danger"></span>
            </div>

            <div class="btnline mt-3">
                <button type="submit" style="color:white !important; border-color:forestgreen !important; background-color:forestgreen !important;" class=" me-2 pt-2 btn d-flex align-items-center">Create Account</button>
            </div>
        </form>

    </div>
</div>

@section Scripts{
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            toastr.success("@TempData["SuccessMessage"]");
        </script>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            toastr.error("@TempData["ErrorMessage"]");
        </script>
    }
    
}